.header-text-fuller {
    text-align: center;
}



.header-text-full {
    display: flex;
}


.space {
    display: flex;
    justify-content: space-evenly;
    
   
    
}

.html5-logo {
    padding: 9px;
    /*how can i align the logo with the text*/
}

.text-only {
    line-height: 0px;
}

img {
    text-align: center;
}

.cute-emojis {
    display: flex;
    justify-content: space-evenly;
}

span {
    font-weight: bolder;
}